PORT=5002

MONGODB_URI=mongodb+srv://CarRentalDB:raj123@cluster0.vpfltmb.mongodb.net/

JWT_SECRET=jobsphere_super_secret_key_change_this_later

NODE_ENV=development
GEMINI_API_KEY=AIzaSyAP30Dklhu6qD7ANpx42WKmstuyugcqXG0
GEMINI_MODEL=gemini-2.5-flash